APScheduler==3.10.1
cffi==1.15.1
cryptography==41.0.1
Pillow==9.5.0
pyaes==1.6.1
pyAesCrypt==6.0.0
pycparser==2.21
Pyrogram==2.0.106
PySocks==1.7.1
pytz==2023.3
PyYAML==6.0
six==1.16.0
TgCrypto==1.2.5
tzlocal==5.0.1
